.chat-container {
    border: solid 1px white;
    padding: 1em 1.25em;
    background-color: #222222;
    position: sticky;
    top: 0;
}

.chat-container nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.chat-container nav .icon {
    color: #8F43EE;
    cursor: pointer;
}

.chat-container nav .container-lhs {
    display: flex;
    gap: 1em;
    align-items: center;
}

.chat-container nav .container-rhs {
    display: flex;
    gap: 1em;
}

.chat-container .user-details-container {
    display: flex;
    gap: 0.75em;
}

.chat-container .user-details-container h1 {
    display: flex;
    flex-direction: column;
    gap: 0.1em;
}

.chat-container .user-details-container h1 span:first-child {
    font-size: 0.9rem;
    font-weight: 500;
}

.chat-container .user-details-container h1 span:last-child {
    font-size: 0.75rem;
    color: #B2B2B2;
}

.chat-container .message-bubbles-container {
    display: flex;
    flex-direction: column;
    gap: 1em;
}
