.home-container {
    border: solid 1px white;
}

.home-container .search-bar-container {
    padding: 0.75em;
}

.home-container .slider-container {
    padding-left: 0.75em;
    overflow: hidden;
    position: relative;
    height: 85px;
    border: solid 1px yellow;
}

.home-container .active-users-container {
    display: flex;
    gap: 1.25em;
    position: absolute;
    border: solid 1px white;
    transition-property: transform;
    transition-duration: 0.1s;
    transition-timing-function: linear;
}

.home-container .active-users-container .active-user-container {
    color: white;
    text-align: center;
    font-size: 0.7rem;
    border: solid 1px white;
}

.home-container .active-users-container .active-user-container p {
    margin-top: 0.25em;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    line-clamp: 2;
    -webkit-box-orient: vertical;
}

.home-container .active-users-container .user-icon {
    flex-shrink: 0;
}