.home-container header {
    padding: 1em 1.25em;
    position: sticky;
    top: 0;
    background-color: #222222;
    z-index: 10;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.home-container header button {
    border: none;
    background: none;
}

.home-container header .icon {
    color: #EBB02D;
    font-size: 1.2rem;
}

.home-container header h1 {
    text-align: center;
    font-size: 1.2rem;
}

.home-container .search-bar-container {
    padding: 0 1.25em 1em;
}

.home-container .message-previews-container .message-preview {
    padding: 0.5em 1.25em;
}