.home-container h1 {
    text-align: center;
    font-size: 1.2rem;
    margin-top: 0.75em;
}

.home-container .search-bar-container {
    padding: 0.75em;
}

.home-container .slider-container {
    padding-left: 0.75em;
    overflow: hidden;
    position: relative;
    height: 85px;
}

.home-container .active-users-container {
    display: flex;
    gap: 1.25em;
    position: absolute;
    transition: all 0.2s ease;
}

.home-container .active-users-container .active-user-container {
    color: white;
    max-width: 45px;
}

.home-container .active-users-container .active-user-container p {
    margin-top: 0.5em;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    line-clamp: 2;
    -webkit-box-orient: vertical;
    text-align: center;
    font-size: 0.65rem;
}

.home-container .active-users-container .user-icon {
    flex-shrink: 0;
}