@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

.auth-container {
    display: flex;
    flex-direction: column;
    padding: 2em;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 2em;
}

.auth-container header {
    background-color: #434242;
    padding: 1em 2em;
    border-radius: 8px;
}

.auth-container h1 {
    font-family: 'Pacifico', cursive;
    font-size: 2.2rem;
    color: #EBB02D;
}

.auth-container .logo-container {
    width: 150px;
    height: 150px;
    margin: 0 auto;
}

.auth-container .logo-container img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.auth-container button {
    margin: 0 auto;
    padding: 0.5em 1em;
    border-radius: 8px;
    font-size: 1.2rem;
    text-transform: uppercase;
    font-weight: 700;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5em;
    border: none;
    color: black;
    background-color: #EBB02D;
}