.message-preview {
    display: flex;
    align-items: center;
    gap: 1em;
    cursor: pointer;
}

.message-preview.unread .content h3,
.message-preview.unread .content p {
    font-weight: 600;
    font-size: 0.85rem;
    color: white;
}

.message-preview > * {
    flex-shrink: 0;
}

.message-preview .content h3 {
    color: white;
    font-weight: 500;
    font-size: 0.9rem;
    margin-bottom: 0.5em;
}

.message-preview .content p {
    color: #B2B2B2;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-size: 0.75rem;
}