.matched-messages-container {
    padding: 1em 1.25em;
    display: flex;
    flex-direction: column;
}

.matched-messages-container header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1em;
}

.matched-messages-container header h1 {
    font-size: 1rem;
}

.matched-messages-container header button {
    background: none;
    border: none;
    color: #EBB02D;
    font-size: 1rem;
}

.matched-messages-container .messages-container .message-preview {
    padding: 0.5em 0;
}