.profile-container {
    padding: 1em 1.25em;
    display: flex;
    flex-direction: column;
    /*justify-content: center;*/
    gap: 0.5em;
}

.profile-container header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.profile-container header button .icon {
    font-size: 1rem;
}

.profile-container header h1 {
    font-size: 1rem;
    font-weight: 500;
}

.profile-container button {
    border: none;
    background: none;
    color: #EBB02D;
}

.profile-container section {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1em;
    border-bottom: solid 1px #434242;
    padding: 1em 0;
}

.profile-container .change-icon-section {
    align-items: center;
    border-top: solid 1px #434242;
}

.profile-container .change-icon-section .icon {
    margin-left: 0.5em;
}

.profile-container label {
    font-size: 0.9rem;
    display: flex;
    gap: 2em;
}

.profile-container label input {
    background: none;
    border: none;
    color: white;
    font-size: 0.9rem;
    outline: none;
}

.profile-container .sign-out-button {
    color: red;
    align-self: flex-start;
    margin-top: 0.5em;
}

.profile-container .sign-out-button .icon {
    margin-right: 0.5em;
    transform: rotate(180deg);
}