.profile-container {
    padding: 1em 1.25em;
    display: flex;
    flex-direction: column;
    gap: 0.5em;
}

.profile-container button {
    font-size: 0.8rem;
}

.profile-container header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.profile-container header button .icon {
    font-size: 1rem;
}

.profile-container header h1 {
    font-size: 1rem;
    font-weight: 500;
}

.profile-container button {
    border: none;
    background: none;
    color: #EBB02D;
}

.profile-container section {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1em;
    border-bottom: solid 1px #434242;
    padding: 1em 0;
}

/* CHANGE ICON */
.profile-container .change-icon-section {
    align-items: center;
    border-top: solid 1px #434242;
    position: relative;
}

.profile-container .change-icon-section .icon {
    margin-left: 0.5em;
}

/* CHANGE ICON POPUP */

.profile-container .change-icon-popup {
    border-radius: 8px;
    position: absolute;
    background-color: #434242;
    padding: 0.75em 1.5em;
    max-width: 275px;
    z-index: 10;
}

.profile-container .change-icon-popup .popup-buttons {
    display: flex;
    justify-content: space-between;
}

.profile-container .change-icon-popup h2 {
    font-size: 0.9rem;
    text-align: center;
    border-bottom: solid 1px #B2B2B2;
    padding-bottom: 1em;
    margin-bottom: 1em;
}

.profile-container .change-icon-popup .icons-container {
    display: flex;
    flex-wrap: wrap;
    gap: 0.75em;
    justify-content: center;
    border-bottom: solid 1px #B2B2B2;
    padding-bottom: 1em;
    margin-bottom: 1em;
}

.profile-container .change-icon-popup .icons-container .selected {
    border: solid 2px white;
    border-radius: 50%;
}

.profile-container .change-icon-popup .apply-button {
    margin: 0 auto;
    width: 100%;
    padding: 0.75em 1em;
    border-radius: 8px;
    background-color: #EBB02D;
    font-weight: 700;
    letter-spacing: 0.05rem;
    font-size: 0.95rem;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #222222;
}

.profile-container .change-icon-popup .apply-button:hover {
    color: white;
}

/* CHANGE DETAILS */
.profile-container label {
    font-size: 0.9rem;
    display: flex;
    gap: 2em;
}

.profile-container label input {
    background: none;
    border: none;
    color: white;
    font-size: 0.9rem;
    outline: none;
}

.profile-container .sign-out-button {
    color: red;
    align-self: flex-start;
    margin-top: 0.5em;
}

.profile-container .sign-out-button .icon {
    margin-right: 0.5em;
    transform: rotate(180deg);
}