.search-page-container {
    padding: 1em 1.25em;
    display: flex;
    flex-direction: column;
}

.search-page-container header {
    display: flex;
    gap: 0.5em;
}

.search-page-container header button {
    background: none;
    border: none;
    color: #EBB02D;
    font-size: 0.9rem;
}

.search-page-container h2 {
    font-size: 0.8rem;
    margin: 1em 0 0.5em;
    color: #B2B2B2;
}

.search-page-container .message-preview {
    padding: 0.5em 0;
}