.message-bubble-container {
    max-width: 75%;
}

.message-bubble-container > div {
    display: flex;
    gap: 0.75em;
}

.message-bubble-container .user-icon {
    flex-shrink: 0;
    align-self: flex-end;
}

.message-bubble-container.sent {
    align-self: flex-end;
}

.message-bubble-container .message-bubble {
    font-size: 0.9rem;
    padding: 0.75em;
    border-radius: 8px;
    line-height: 1.4rem;
    letter-spacing: 0.05rem;
    font-weight: 500;
}

.message-bubble-container.sent .message-bubble {
    background-color: #FFCB42;
    color: #222222;
}

.message-bubble-container.received {
    align-self: flex-start;
}

.message-bubble-container.received .message-bubble {
    background-color: #434242;
}

.message-bubble-container > p {
    font-size: 0.7rem;
    margin-top: 0.5em;
    text-align: right;
}

.message-bubble-container .highlighted-word {
    background-color: white;
    color: #434242;
}