.message-bubble-container {
    max-width: 75%;
    display: flex;
    gap: 0.75em;
}

.message-bubble-container .user-icon {
    flex-shrink: 0;
    align-self: flex-end;
}

.message-bubble-container.sent {
    align-self: flex-end;
}

.message-bubble-container .message-bubble {
    font-size: 0.9rem;
    padding: 0.75em;
    border-radius: 8px;
    line-height: 1.4rem;
    letter-spacing: 0.05rem;
}

.message-bubble-container.sent .message-bubble {
    background-color: #2F58CD;
}

.message-bubble-container.received {
    align-self: flex-start;
}

.message-bubble-container.received .message-bubble {
    background-color: #434242;
}