.new-message-input {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 0.5em;
    padding: 0.5em 0.75em;
    border-radius: 8px;
    background-color: #434242;
    color: #B2B2B2;
}

.new-message-input input {
    width: 100%;
    border: none;
    background: none;
    font-family: inherit;
    color: white;
    outline: none;
    font-size: 1rem;
}

.new-message-input input::placeholder {
    font-family: inherit;
    color: #B2B2B2;
}

.new-message-input button {
    background: none;
    border: none;
}

.new-message-input button .icon {
    color: white;
    cursor: pointer;
}