.slider-container {
    padding-left: 1.25em;
    overflow: hidden;
    position: relative;
    height: 90px;
    margin-bottom: 0.5em;
}

.slider-container .active-users-container {
    display: flex;
    gap: 1.25em;
    position: absolute;
    transition-property: transform;
    transition-duration: 0.3s;
    transition-timing-function: ease-out;
}

.slider-container .active-users-container .active-user-container {
    color: white;
    max-width: 60px;
}

.slider-container .active-users-container .active-user-container p {
    margin-top: 0.5em;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    line-clamp: 2;
    -webkit-box-orient: vertical;
    text-align: center;
    font-size: 0.65rem;
}

.slider-container .active-users-container .user-icon {
    flex-shrink: 0;
}