@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
}

html {
  background-color: #222222;
  color: white;
}

.container {
  width: 100%;
  max-width: 500px;
  margin: 0 auto;
}

::-webkit-scrollbar {
  display: none;
}

button {
  cursor: pointer;
}